@import 'common';
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    background-image: url("../assets/bg-red.png");
    height: 100%;
    overflow: hidden;
    color: #fff;
}

.main {
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover {
    position: absolute;
    top: 0px;
    z-index: 10;
    bottom: 0px;
    &.left,
    &.right {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 50%;
        transition: all .5s ease;
        // widthL:
    }
    &.left {
        left: 0px;
        background-image: url("../assets/bg-red.png");
        .cover-router {
            color: #fff;
        }
    }
    &.right {
        right: 0px;
        background: #fff;
        .cover-router {
            color: $bg-color;
        }
    }
    .cover-router {
        font-size: 32px;
        text-decoration: none;
        position: absolute;
        top: 50%;
        transform: translateY(210px);
    }
}

.cover-left-transition-leave-active,
.cover-right-transition-leave-active {
    transition: all 8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.cover-left-transition-leave-to {
    transform: translateX(-10%);
    opacity: 0;
}

.cover-right-transition-leave-to {
    transform: translateX(10%);
    opacity: 0;
}

.opacity-transition-enter-active {
    transition: all .3s ease;
}

.opacity-transition-leave-active {
    transition: all .3s ease;
}

.opacity-transition-enter,
.opacity-transition-leave-to {
    opacity: 0;
}

.wrapper {
    width: 80%;
    height: 80%;
    background: #0e0e0e;
    display: flex;
    border: 4px solid #000;
    border-radius: 12px;
    width: 1100px;
    height: 560px;
    position: relative;
    .left {
        flex: 1;
        border-radius: 12px;
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
        border: 4px solid #000;
        margin-top: -4px;
        margin-bottom: -4px;
        margin-left: -4px;
        padding: 12px;
        display: flex;
        align-items: stretch;
        .inner {
            width: 100%;
            border-radius: 8px;
            background: #363232;
            display: flex;
            align-items: stretch;
            padding: 25px 40px;
        }
        .content {
            flex: 1;
            position: relative;
            background: #000;
            margin-right: 50px;
            border-radius: 8px;
        }
        .ctrl {
            width: 12px;
            border-radius: 8px;
            background: #1c1b1b;
        }
        .bar {
            position: absolute;
            left: -10px;
            right: -70px;
            top: 0%;
            height: 16px;
            background: $bg-color-light;
            padding: 4px;
            border-radius: 16px;
            display: flex;
            align-items: stretch;
            transition: top .5s ease;
            &.sec {
                top: 97%;
            }
        }
        .bar-inner {
            background: $bg-color;
            flex: 1;
            border-radius: 16px;
        }
        .bar-btn {
            position: absolute;
            right: -15px;
            top: -20px;
            cursor: url("../assets/ic-glove.png"), auto;
        }
    }
    .right {
        width: 200px;
        flex: 0 0 auto;
        padding: 10px 20px;
        .header {
            margin-top: 30px;
            border-radius: 12px;
            font-size: 14px;
            line-height: 22px;
            color: #fff;
            background: #1c1c1c;
            padding: 10px 15px;
            animation: blink 3s ease forwards infinite;
            // pading:
        }
        .nav {
            margin-top: 32px;
        }
        .nav-item {
            background: $bg-color;
            margin: 16px 0;
            line-height: 38px;
            text-align: center;
            color: #fff;
            border: 2px solid transparent;
            @include border-percent(30%);
            // font-size: 16px;
            &.more {
                line-height: 80px;
                border: 3px dashed $bg-color;
                background: #0e0e0e;
                border-radius: 12px;
                color: #872222;
                margin-top: 30px;
                &:hover {
                    border-style: solid;
                }
            }
            &.active,
            &:hover {
                background: $bg-color-light;
                color: #872222;
                border-color: #872222;
            }
        }
    }
    .footer {
        position: absolute;
        top: 100%;
        left: 40px;
    }
}

.page-container {
    overflow: hidden;
    height: 100%;
    position: relative;
    .scroller {
        height: 100%;
        transition: all .5s ease;
        &.sec {
            // transform: translateY(-50%);
            .page:first-child {
                position: absolute;
                top: 0px;
                right: 0px;
                left: 0px;
                bottom: 100%;
                padding-bottom: 0px;
            }
        }
        >div {
            height: 100%;
        }
    }
    .page {
        height: 100%;
        padding: 30px;
        background: #0e0e0e;
        border-radius: 12px;
        >div {
            overflow: hidden;
        }
    }
    .page:first-child {
        transition: all .5s ease;
        height: initial;
        position: absolute;
        top: 0px;
        right: 0px;
        left: 0px;
        bottom: 0%;
        overflow: hidden;
    }
}

@keyframes blink {
    0% {
        color: #1c1c1c;
    }
    25% {
        color: #fff;
    }
    75% {
        color: #fff;
    }
    100% {
        color: #1c1c1c;
    }
}