@import 'common';
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.cover {
    min-width: 550px;
    position: absolute;
    top: 0px;
    z-index: 10;
    bottom: 0px;
    cursor: pointer;
    &.left,
    &.right {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 50%;
        transition: all .5s ease;
        &:hover {
            .cover-router {
                text-decoration: underline;
            }
        }
        // widthL:
    }
    &.left {
        left: 0px;
        background-image: url("../assets/bg-red.png");
        .cover-router {
            color: #fff;
        }
    }
    &.right {
        right: 0px;
        background: #fff;
        .cover-router {
            color: $bg-color;
        }
    }
    .cover-router {
        font-size: 32px;
        text-decoration: none;
        position: absolute;
        top: 50%;
        transform: translateY(210px);
    }
}

.cover-left-transition-leave-active,
.cover-right-transition-leave-active {
    transition: all 8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.cover-left-transition-enter,
.cover-left-transition-leave-to {
    transform: translateX(-10%);
    opacity: 0;
}

.cover-right-transition-enter,
.cover-right-transition-leave-to {
    transform: translateX(10%);
    opacity: 0;
}

.opacity-transition-enter-active {
    transition: all .3s ease;
}

.opacity-transition-leave-active {
    transition: all .3s ease;
}

.opacity-transition-enter,
.opacity-transition-leave-to {
    opacity: 0;
}

.main {
    height: 100%;
}